.card {
  background-color: #cecece;
  border-radius: 10px;
  margin-bottom: 2em;
}

.texts {
  padding: 1em;
}

.img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 1em;
}

.other {
  color: black;
  font-size: 15px;
  margin-bottom: .5em;
}

.texts a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  color: white;
  margin-top: 2em;
  margin-inline: 3em;
  padding: .5em;
  border-radius: 10px;
  transition: font-weight 500ms ease-in;
}

.texts a:hover,
.texts a:focus {
  font-weight: bold;
}