
.texts {
  background-color: rgb(206, 206, 206);
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin-bottom: 1em;
}

.other {
  color: black;
  font-size: 15px;
  margin-bottom: .5em;
}

.texts a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  color: white;
  margin-inline: 3em;
  padding: .5em;
  border-radius: 10px;
}