.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

.text {
  width: 50%;
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.about {
  font-size: 25px;
  font-weight: 400;
  color: grey;
  margin: 2.5% 0;
}

.buttons {
  margin-top: 5%;
}

.buttons a {
  margin-inline: 1%;
  padding: 1%;
  border-radius: 10px;
  background: grey;
  color: white;
}

.img {
  border-radius: 10px;
}

.products {
  margin: 5%;
}

.pTitle {
  font-size: 35px;
  font-weight: 500;
}

.pCards {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5%;
  flex-wrap: wrap;
}

.achievements {
  background-color: grey;
  box-shadow: 0 0 0 100vmax grey;
  clip-path: inset(0 -100vmax);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.aTitle {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.aCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color: darkgrey;
  width: 12em;
  height: 10em;
  border-radius: 10px;
}

.aValue {
  font-size: 20px;
  margin-bottom: 1em;
}

.aName {
  font-size: 20px;
  font-weight: 500;
}