.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-inline: 5%;
}

.title {
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.about {
  font-size: 25px;
  font-weight: 400;
  color: grey;
  width: 50%;
  margin: 2.5%;
}

.buttons {
  margin: 1%;
}

.buttons a {
  margin-inline: 1%;
  padding: 1%;
  border-radius: 10px;
  background: grey;
  color: white;
}

.products {
  margin: 5%;
}

.pTitle {
  font-size: 35px;
  font-weight: 500;
}

.pCards {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5%;
}